* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media screen and (max-width: 1000px) {
  html {
    font-size: 60%; } }

@media screen and (max-width: 900px) {
  html {
    font-size: 55%; } }

@media screen and (max-width: 800px) {
  html {
    font-size: 50%; } }

@media screen and (max-width: 700px) {
  html {
    font-size: 40%; } }

@media screen and (max-width: 400px) {
  html {
    font-size: 25%; } }

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 7rem 48rem repeat(2, 15rem) max-content 15rem max-content max-content max-content 43rem 20rem max-content 20rem 35rem;
  grid-template-columns: [left-border-start] minmax(2rem, 15rem) [left-border-end center-start] repeat(6, [col-start] minmax(6rem, 1fr) [col-end]) [center-end right-border-start] minmax(2rem, 15rem) [right-border-end]; }

@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-rows: 7rem 48rem repeat(2, 10rem) repeat(3, max-content) 50rem max-content 43rem 20rem max-content 20rem 35rem;
    grid-template-columns: [left-border-start] minmax(2.5rem, 8rem) [left-border-end center-start] repeat(6, [col-start] minmax(14rem, 1fr) [col-end]) [center-end right-border-start] minmax(2.5rem, 8rem) [right-border-end]; } }

@media screen and (max-width: 720px) {
  .container {
    grid-template-rows: 7rem 48rem repeat(2, 10rem) repeat(3, max-content) 50rem 16rem max-content 20rem max-content 20rem 35rem; } }

@media screen and (max-width: 400px) {
  .container {
    display: grid;
    grid-template-rows: 7rem 48rem 20rem 10rem repeat(3, max-content) 50rem 16rem max-content 20rem max-content 20rem 35rem;
    grid-template-columns: [left-border-start] minmax(2.5rem, 8rem) [left-border-end center-start] repeat(6, [col-start] minmax(14rem, 1fr) [col-end]) [center-end right-border-start] minmax(2.5rem, 8rem) [right-border-end]; } }

.nav__background {
  grid-row: 1/2;
  grid-column: left-border-start/ right-border-end;
  background-color: #FFE9E099; }

nav {
  grid-column: center-start/  center-end;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  font-size: 1.4rem;
  text-transform: capitalize;
  gap: 3rem; }
  nav ul {
    display: flex;
    align-self: flex-start; }
    nav ul li {
      list-style: none;
      display: inline-block;
      margin: 2rem 4rem 2rem 0; }
      nav ul li a {
        text-decoration: none;
        color: #000; }
  nav img {
    margin: 2rem;
    overflow: hidden; }

.intro {
  grid-row: 2/3;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .intro__text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 5rem 0;
    width: 80%; }
    .intro__text h1 {
      font-size: 4rem;
      line-height: 5.6rem;
      padding-bottom: 1rem;
      transition: all .3s; }
      .intro__text h1 span {
        display: inline;
        color: #ff4d00;
        transition: all .2s; }
        .intro__text h1 span:hover {
          text-shadow: 0.5rem 1rem 2rem rgba(255, 77, 0, 0.5); }
    .intro__text p {
      font-size: 2rem;
      width: 80%;
      padding-bottom: 1rem; }
    .intro__text button {
      margin-top: 2rem; }
  .intro .intro-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    width: 90%;
    height: 90%;
    border: 2px solid rgba(255, 77, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center; }

.rating {
  grid-row: 3/4;
  grid-column: col-start 2 /col-end 5;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center; }
  .rating-content {
    text-align: center; }
    .rating-content h3 {
      font-size: 2rem; }
    .rating-content p {
      font-size: 1.2rem; }
  .rating:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.choose {
  grid-row: 4/5;
  grid-column: col-start 2 /col-end 5; }

.reason {
  grid-row: 5/6;
  grid-column: center-start/center-end;
  padding: 4rem 0;
  grid-gap: 3rem;
  background-color: #FFE9E099;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .reasons {
    background-color: #fff;
    padding: 3rem 0;
    border-radius: 1rem;
    transition: all .3s; }
    .reasons .icon {
      margin: 2rem; }
    .reasons h4 {
      font-size: 2rem;
      margin: 2rem; }
    .reasons p {
      font-size: 1.5rem;
      margin: auto 4rem; }
    .reasons:hover {
      transform: scale(1.1);
      background-color: rgba(255, 77, 0, 0.3);
      box-shadow: 0, 1rem 2rem rgba(0, 0, 0, 0.9); }

.routine {
  grid-row: 6/7;
  grid-column: col-start 2 /col-end 5;
  margin: 5rem 0; }

.order {
  grid-row: 7/8;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8rem;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  .orders {
    padding: 2rem 0.5rem;
    border: 1px solid rgba(255, 77, 0, 0.3);
    transition: all .2s; }
    .orders:hover {
      transform: scale(1.1); }
    .orders img {
      width: 19rem;
      transition: all .2s; }
      .orders img:hover {
        transform: scale(1.1); }
    .orders > p {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2rem; }
    .orders .price {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      align-items: center; }
      .orders .price p {
        font-size: 2rem;
        margin-right: 1rem; }

.about {
  grid-row: 8/9;
  grid-column: center-start/ center-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 0; }
  .about__text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 5rem 0;
    width: 80%; }
    .about__text h1 {
      font-size: 4rem;
      line-height: 5.6rem;
      padding-bottom: 1rem; }
      .about__text h1 span {
        color: #ff4d00; }
    .about__text p {
      font-size: 1.4rem;
      width: 90%;
      padding-bottom: 1rem;
      color: rgba(0, 0, 0, 0.7); }
    .about__text button {
      margin-top: 2rem; }
  .about__pic {
    position: relative; }
    .about__pic img {
      width: 17rem;
      border-radius: 2rem; }
    .about__pic .image1 {
      position: absolute;
      top: -2rem;
      z-index: 5;
      transition: all .2s; }
      .about__pic .image1:hover {
        transform: scale(1.1);
        z-index: 12; }
    .about__pic .plane1 {
      position: absolute;
      top: -3rem;
      left: -1rem; }
    .about__pic .image2 {
      position: absolute;
      top: 15rem;
      left: 15rem;
      z-index: 10;
      transition: all .2s; }
      .about__pic .image2:hover {
        transform: scale(1.1);
        z-index: 12; }
    .about__pic .plane2 {
      position: absolute;
      top: 18rem;
      left: 17rem; }

.mobile {
  grid-row: 9/10;
  grid-column: col-start 2 /col-end 5;
  padding: 5rem; }

.app {
  grid-row: 10/11;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .app__text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.7); }
    .app__text p {
      font-size: 1.9rem;
      width: 90%;
      padding-bottom: 1rem;
      font-weight: 300; }
    .app__text .download {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .app__text .download button {
        width: 100px;
        height: 40px;
        background-color: #000;
        margin-right: 7px;
        border-radius: 8px; }
        .app__text .download button img {
          width: 100%; }
  .app__pic {
    position: relative;
    transform: translateX(-10rem); }
    @media screen and (max-width: 900px) {
      .app__pic {
        transform: translateX(-20rem); } }
    @media screen and (max-width: 800px) {
      .app__pic {
        transform: translateX(-20rem); } }
    @media screen and (max-width: 700px) {
      .app__pic {
        transform: translateX(-23rem); } }
    .app__pic .iphone_straight {
      position: absolute;
      top: 0;
      left: 0;
      transition: all .2s; }
      .app__pic .iphone_straight:hover {
        transform: scale(1.1);
        z-index: 10; }
      @media screen and (max-width: 720px) {
        .app__pic .iphone_straight {
          display: none; } }
    .app__pic .iphone_slant {
      position: absolute;
      top: 2rem;
      left: 19rem;
      transition: all .2s; }
      .app__pic .iphone_slant:hover {
        transform: scale(1.1);
        z-index: 10; }
      @media screen and (max-width: 720px) {
        .app__pic .iphone_slant {
          top: -8rem;
          bottom: 0;
          transform: translateX(-12rem); } }

.testimonial {
  grid-row: 11/12;
  grid-column: col-start 2 /col-end 5;
  margin: 5rem 0; }

.testimony {
  grid-row: 12/13;
  grid-column: center-start/center-end;
  padding: 4rem 0;
  grid-gap: 3rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .testimonys {
    background-color: #fff; }
    .testimonys h2 {
      font-size: 2.2rem; }
    .testimonys h4 {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.8); }
    .testimonys p {
      font-size: 1.5rem;
      margin-top: 1rem;
      width: 90%;
      color: rgba(0, 0, 0, 0.5); }

.newsletter {
  grid-row: 13/14;
  grid-column: col-start 2 /col-end 5;
  padding: 4rem 0; }
  .newsletter p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem; }
  .newsletter input {
    width: 26rem;
    height: 4rem;
    margin-right: 2rem; }
  .newsletter label {
    width: 100%;
    height: 100%; }
    .newsletter label button {
      color: #fff;
      font-size: 1.5rem;
      background-color: rgba(255, 77, 0, 0.8);
      border: none;
      border-radius: 2px;
      height: 100%;
      padding: 1rem 2rem;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }

.footer_background {
  grid-row: 14/15;
  grid-column: left-border-start/right-border-end;
  background-image: linear-gradient(to right, rgba(255, 77, 0, 0.9), rgba(255, 77, 0, 0.6)); }

footer {
  grid-row: 14/15;
  grid-column: col-start 2 /col-end 5; }
  footer table {
    grid-row: 15/16;
    padding: 4rem;
    font-size: 1.2rem;
    width: 100%;
    color: #fff; }
    footer table tr {
      margin: 1rem; }
      footer table tr th {
        text-align: left;
        font-size: 2rem;
        padding: 0.8rem 0; }
      footer table tr td {
        padding: 0.8rem 0; }

.copyright {
  text-align: center;
  color: #fff;
  font-size: 1.1rem; }
  .copyright hr {
    color: #fff;
    border: 2px solid #fff; }

.center {
  text-align: center;
  transition: all .2s;
  text-shadow: 0rem 0.5rem 1rem rgba(255, 77, 0, 0.2); }
  .center:hover {
    transform: scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.head {
  font-size: 3rem;
  color: #ff4d00; }

.para {
  font-size: 1.5rem; }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  transition: all .2s;
  padding: 1rem 2rem;
  background-color: #ff4d00;
  border: none;
  border-radius: .7rem;
  color: #fff;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.3rem); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:active, .btn:focus {
  transform: translate(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animation {
  animation: moveUp .5s ease-out .75s;
  animation-fill-mode: backwards; }

@media screen and (max-width: 800px) {
  .order {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 720px) {
  .app {
    padding: 5rem 0 10rem; } }

@media screen and (max-width: 600px) {
  .intro {
    display: block;
    text-align: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 77, 0, 0.1)), url(../img/intro-pic.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-bottom: 5rem; }
    .intro__text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      justify-content: center;
      padding: 5rem 0;
      margin: 2rem auto; }
    .intro .intro-pic {
      display: none; }
  .order {
    grid-template-columns: repeat(1, 1fr); }
  .reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto; }
  .testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto; }
    .testimony p {
      width: 100%; } }

@media screen and (max-width: 540px) {
  .about {
    grid-column: col-start 2 /col-end 5;
    display: 2px solid red;
    grid-template-columns: 1fr;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)), url(../img/about1.png);
    background-repeat: none;
    background-position: center;
    background-size: cover; }
    .about__text {
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .about__text p {
        width: 100%; }
    .about__pic {
      display: none; }
  .app {
    grid-column: col-start 2 /col-end 5;
    display: 2px solid red;
    grid-template-columns: 1fr;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)), url(../img/iphone_slant.png); }
    .app__text {
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .app__text p {
        width: 100%; }
      .app__text .download {
        justify-content: center;
        color: rgba; }
    .app__pic {
      display: none; } }

@media screen and (max-width: 400px) {
  .rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid rgba(255, 77, 0, 0.1); }
  .order {
    grid-template-columns: repeat(1, 1fr); }
  .about {
    display: flex;
    flex-direction: column; }
    .about__text {
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .about__pic {
      display: none; } }
